body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid wheat;
    font-weight: 900;
    font-size: 1.4rem;
    
}
